@import '../css/__'



article
  $fontSize: 18px
  $lineHeight: 1.75
  $padding: 30px
  font-size: $fontSize
  line-height: 1.75
  padding: $padding

  h2 small
    font-size: 60%
    line-height: 1.7

  p, .highlight, blockquote, ul, ol
    margin-bottom: $fontSize * $lineHeight / 2

  +phone
    $padding: 10px
    $fontSize: 16px
    $lineHeight: 1.75
    padding: 0 $padding
    font-size: $fontSize
    line-height: $lineHeight
    p, .highlight, blockquote
      margin-bottom: $fontSize * $lineHeight / 2

  pre.highlight
    $roomy: 10px
    overflow: auto
    padding: $roomy
    margin-left: -($roomy)
    margin-right: -($roomy)
    border-radius: 5px
    background: $black02
    border: 1px solid $black05
    border-top-color: $black10
    code
      padding: 0
      background: none
      border: none

  pre.highlight
    font-size: 85% // because the code can be dense
  .gist-file pre.highlight
    font-size: 100% // because gists are small enough

  blockquote p:last-of-type
    margin-bottom: 0

  .hero > img
    display: block
    margin: 0 auto
    width: 100% // grow the gif images to fill the width, it looks cool


  // ------------------------------------------- A way of tagging it from Markdown
  img.hero-image
    max-height: 400px
    // center it
    position: relative
    left: 50%
    right: 50%
    transform: translateX(-50%)


  // ------------------------------------------- List Items
  ul
    list-style-type: disc
  ol
    list-style-type: decimal
  ul, ol, li
    list-style-position: inside
  ul, ol
    padding-inline-start: 0.2rem
  ul ul
    padding-inline-start: 1.8rem
    margin-bottom: 0