@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot?-m6ioij");
  src: url("fonts/icomoon.eot?#iefix-m6ioij") format("embedded-opentype"), url("fonts/icomoon.woff?-m6ioij") format("woff"), url("fonts/icomoon.ttf?-m6ioij") format("truetype"), url("fonts/icomoon.svg?-m6ioij#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
.icon {
  font-family: "icomoon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 13px;
  display: inline-block;
  text-align: center; }
  .icon.twitter:before {
    content: "\ea92"; }
  .icon.linkedIn:before {
    content: "\eac8"; }
  .icon.github:before {
    content: "\eab4"; }
  .icon.stackOverflow:before {
    content: "\e601"; }
  .icon.rss:before {
    content: "\ea95"; }
  .icon.instagram:before {
    content: "\e600"; }
