html, body {
  height: 100%; }

ul, li, ol {
  list-style: none; }

html, body, p, ul, li, ol {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: #38c700; }

a:hover {
  text-decoration: underline; }

img {
  max-width: 100%; }

h1, h2, h3, h4 {
  font-family: Comfortaa, sans-serif;
  line-height: 1.2;
  margin: 0; }

body {
  font-family: Helvetica, Verdana, sans-serif;
  line-height: 1.5;
  font-size: 16px;
  margin: 0;
  padding: 0; }

h1 {
  font-size: 60px; }
  @media (max-width: 603px) {
    h1 {
      font-size: 40px; } }

h2 {
  font-size: 30px; }
  @media (max-width: 603px) {
    h2 {
      font-size: 25px; } }

h3 {
  font-size: 20px; }

hr {
  background-color: #d8d8d8;
  color: #d8d8d8;
  height: 1px;
  border: none;
  margin: 100px auto;
  max-width: 600px; }

.typePretty {
  margin: 3em 0; }
  .typePretty small {
    font-size: 60%; }
  .typePretty h1, .typePretty h2, .typePretty h3, .typePretty h4, .typePretty h5 {
    margin: 0;
    padding: 0;
    display: inline-block;
    vertical-align: bottom;
    line-height: 1;
    color: #aaaaaa;
    text-align: left; }
  .typePretty h1 {
    font-size: 4em;
    margin-right: 0.2em;
    margin-left: 0.1em;
    color: #999999; }
  .typePretty h2 {
    font-size: 1.6em;
    margin-bottom: 0.25em; }
  .typePretty h3 {
    font-size: 0.88em;
    line-height: 1;
    margin-bottom: 0.75em; }
  @media (min-width: 604px) and (max-width: 1024px) {
    .typePretty {
      margin: 2.25em 0; }
      .typePretty h1 {
        font-size: 3em; }
      .typePretty h2 {
        font-size: 1.2em; }
      .typePretty h3 {
        font-size: 0.66em; } }
  @media (max-width: 603px) {
    .typePretty {
      margin: 1.875em 0; }
      .typePretty h1 {
        font-size: 2.5em; }
      .typePretty h2 {
        font-size: 1em; }
      .typePretty h3 {
        font-size: 0.55em; } }

.muted {
  color: #aaaaaa; }

.printOnly {
  display: none; }

.paddedCell {
  padding: 20px; }

.colorGreen {
  color: #38c700; }

.colorBlue {
  color: #90b6d6; }

.colorOrange {
  color: #f4b464; }

.colorBrown {
  color: #40352c; }

.colorLinkedIn {
  color: #007bb6; }

.bgGreen {
  background-color: #38c700; }

.bgBlue {
  background-color: #90b6d6; }

.bgOrange {
  background-color: #f4b464; }

.bgBrown {
  background-color: #40352c; }

.shadow {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2); }

.alignCenter {
  text-align: center; }

a.link {
  color: #38c700; }

a.link:visited {
  color: #64be6b; }

a.link:hover {
  color: #5fd232; }

a.link:visited:hover {
  color: #83cb88; }

.monogram {
  position: absolute;
  top: 7px;
  right: 5px;
  display: block;
  width: 30px;
  height: 28px;
  background: url("../gfx/monogram.png") no-repeat; }

.jumbotron {
  height: 100%;
  min-height: 400px;
  background: linear-gradient(#38c700, #92df18);
  color: white; }
  .jumbotron h1, .jumbotron h3 {
    white-space: pre-line; }
  .jumbotron h1 {
    text-shadow: 1px 2px 0 rgba(0, 0, 0, 0.15);
    margin-bottom: 40px; }
  .jumbotron h3 {
    text-shadow: 0 3px 30px rgba(0, 0, 0, 0.4);
    width: 70%;
    min-width: 320px;
    margin: 0 auto;
    line-height: 1.5;
    font-weight: normal; }

.pusher {
  display: block;
  float: left;
  width: 5px;
  height: 50%;
  margin-bottom: -170px; }

.pushee {
  margin: 0 auto;
  text-align: center;
  clear: both; }

@media print {
  .printOnly {
    display: block; } }
.content {
  padding: 0 30px; }
  .content h2 {
    margin: 20px 0 5px 0; }

.post.summary a {
  display: block;
  color: inherit;
  padding: 10px;
  border-top: 1px dotted rgba(0, 0, 0, 0.1); }
.post.summary a:hover {
  text-decoration: none;
  background: rgba(56, 199, 0, 0.05); }
.post.summary .category {
  float: right; }

.quotesPage p {
  color: #aaaaaa;
  margin-top: -35px;
  text-align: right;
  padding: 0 20px; }
.quotesPage blockquote {
  height: 100%;
  box-sizing: border-box;
  padding: 0;
  padding-top: 50px;
  margin: 0; }
  .quotesPage blockquote p {
    display: inline-block;
    vertical-align: middle;
    color: #90b6d6;
    font-size: 26px;
    line-height: 39px;
    letter-spacing: 0.03em;
    margin: 0;
    text-align: left; }
    @media (max-width: 603px) {
      .quotesPage blockquote p {
        font-size: 20px; } }

.aboutPage .content .social li a {
  position: relative;
  height: 100px;
  line-height: 100px;
  padding-left: 110px;
  display: block;
  color: white;
  text-decoration: none; }
  .aboutPage .content .social li a:hover {
    box-shadow: inset 0 100px rgba(56, 199, 0, 0.05); }
.aboutPage .content .social img {
  max-height: 100%;
  position: absolute;
  top: 0;
  left: 0; }

.bg-twitter {
  background-color: #00aced; }

.bg-github {
  background-color: #829aa8; }

.bg-linkedIn {
  background-color: #007bb6; }

.bg-stackOverflow {
  background-color: #fe7a15; }

.bg-instagram {
  background-color: #517fa4; }

footer {
  display: flex;
  background: #f2f2f2;
  border-top: 1px solid #e5e5e5;
  font-size: 11px;
  padding: 0 20px;
  margin-top: 100px;
  box-shadow: inset 0 -30px 30px white; }
  @media (max-width: 603px) {
    footer {
      flex-wrap: wrap;
      padding: 0; } }
  footer h3 {
    font-size: 13px;
    color: #b2b2b2;
    text-shadow: 0 1px white;
    margin-bottom: 5px; }
  footer section {
    display: inline-block;
    margin: 10px;
    border-right: 1px dotted #cccccc;
    flex-grow: 1; }
    footer section:last-of-type {
      border: none; }
  footer li a {
    display: block;
    line-height: 1.8;
    color: #7f7f7f; }
    footer li a:hover {
      color: #4c4c4c;
      text-decoration: none; }
  footer a.social-link {
    background: none; }
