---
categories:
- projects
title: Projects
---

<div class="padder">
  <h2>Projects</h2>
  <p class="muted">Hello, friend :)</p>
  <p class="muted">Here are some animated gifs of recent work.</p>
  <p class="muted">For details, technologies, and links to source code just hover over the right side of the project.</p>
</div>

<ul class="projectSummaries">
  {% for project in site.categories.projects %}
    {% if project.isPrivate %} {% continue %} {% endif %}
    {% include li-project-summary.html %}
  {% endfor %}
</ul>



<!--
<header class="typePretty">
  <h2>
    Shared Responsibility <br/>
    Mobile Device
  </h2>
  <h1>Alerts <small>for</small> Doctors</h1>
</header>

<header class="typePretty">
  <h3>
    Silly <br/>
    Spunky <br/>
    Sarcastic
  </h3>
  <h1>
    Random Word Generator
  </h1>
</header>

<header class="typePretty">
  <h2>
    Never Render<br />
    Type Diagonally
  </h2>
  <h1>Association Grid</h1>
</header>
-->

{% include script-hide-img-onerror.html %}