---
categories:
- projects
title: Projects
---

<div class="padder">

  <h2>Projects</h2>

  <ol class="cards">
    {% for project in site.categories.projects %}
      {% include li-project-card.html %}
    {% endfor %}
  </ol>

</div>


<!--
<header class="typePretty">
  <h2>
    Shared Responsibility <br/>
    Mobile Device
  </h2>
  <h1>Alerts <small>for</small> Doctors</h1>
</header>

<header class="typePretty">
  <h3>
    Silly <br/>
    Spunky <br/>
    Sarcastic
  </h3>
  <h1>
    Random Word Generator
  </h1>
</header>

<header class="typePretty">
  <h2>
    Never Render<br />
    Type Diagonally
  </h2>
  <h1>Association Grid</h1>
</header>
-->

{% include script-hide-img-onerror.html %}