.projectPage .mainImgArea {
  text-align: center;
  background: #f2f2f2;
  padding: 70px 0 20px 0;
  min-height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 603px) {
  .projectPage .mainImgArea {
    min-height: 200px;
    padding: 41px 0 12px 0;
  }
}

.projectPage .mainImgArea h1 {
  color: #262626;
  font-size: 20px;
  margin: 10px 0 3px 0;
}

.projectPage .mainImgArea h2 {
  color: #262626;
  font-size: 18px;
  font-weight: normal;
}

.projectPage .mainImgArea .imageWrapper {
  display: inline-block;
  position: relative;
  font-size: 0;
}

.projectPage .mainImgArea .imageWrapper img {
  font-size: 12px;
}

.projectPage .invertedTitle h1, .projectPage .invertedTitle h2 {
  color: white;
}

.projectPage .iphoneFrame {
  position: relative;
  border: 10px solid #333333;
  border-radius: 40px;
  border-top-width: 40px;
  border-bottom-width: 60px;
  -webkit-box-shadow: 0 0 0 1px black, 1px 1px 15px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 0 1px black, 1px 1px 15px 0 rgba(0, 0, 0, 0.25);
  margin: 5px;
}

.projectPage .iphoneFrame:after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: -50px;
  left: 50%;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 50%;
  margin-left: -20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top: 2px solid rgba(0, 0, 0, 0.4);
  border-bottom: 2px solid rgba(255, 255, 255, 0.05);
}

.projectPage .iphoneFrame:before {
  content: "";
  position: absolute;
  width: 40px;
  height: 6px;
  top: -21px;
  left: 50%;
  margin-left: -20px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 6px;
}

.projectPage .appStoreLink {
  display: inline-block;
  margin: 30px 0;
  line-height: 0.8;
}

@media (max-width: 603px) {
  .projectPage .appStoreLink {
    margin: 20px 0;
  }
}

.projectPage .mainImg {
  max-height: 500px;
}

.projectPage .animation {
  -webkit-transition: all 1.5s ease-in-out;
  transition: all 1.5s ease-in-out;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.projectPage .loadingMsg {
  font-size: 11px;
  position: absolute;
  right: 0;
  bottom: -20px;
  -webkit-animation: fadeIn 1s infinite alternate;
          animation: fadeIn 1s infinite alternate;
}

.projectPage .mainImg {
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
}

.floatingMainImg .mainImg {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.whiteBgMainImg .mainImg {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.whiteBgMainImg .mainImgArea {
  background: none;
  -webkit-box-shadow: inset 0 -19px 0 0 white, inset 0 -20px 0 0 #d9d9d9;
          box-shadow: inset 0 -19px 0 0 white, inset 0 -20px 0 0 #d9d9d9;
}

.customBgColor .mainImg {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.customBgColor nav {
  background-color: rgba(0, 0, 0, 0.3);
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
}

.projectPage article p > img {
  width: auto;
  display: inline-block;
}

.projectPage article .hero {
  padding: 10px 0;
}

.projectPage article .hero > img {
  max-height: 700px;
  display: block;
}

.projectPage article .imageSet {
  font-size: 0;
  text-align: center;
}

.projectPage article .imageSet img {
  font-size: 14px;
  max-height: 500px;
  max-width: 398px;
  margin: 0 1px;
}

.projectPage .backToProjects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projectPage .backToProjects a.back {
  border-bottom: 1px dotted #4bc576;
  text-indent: -20px;
}

.projectPage .backToProjects a.back:hover {
  text-decoration: none;
  border-bottom: 1px solid #4bc576;
}

.projectPage .backToProjects ol {
  margin-left: 20px;
  padding-left: 20px;
  border-left: 1px dotted #4bc576;
  font-size: 13px;
}

.projectPage .backToProjects li {
  color: #4bc576;
  list-style-type: none;
}
/*# sourceMappingURL=projectPage.css.map */