---
layout: landing
id: home
title: Eric Miller - JavaScript Developer
apiDocs: https://developers.google.com/youtube/player_parameters
---



<div class="jumbotron" id="YouTubeBG" ytbg-id="{{site.data.me.youtubeVideo}}" ytbg-playback-rate=".5"></div>

<div class="jumbotronHero">
  
  <header class="quoteDisplay">
    <div class="fontBox" id="QuoteDisplayer">
      <h1>{{site.data.quotes[0].text}}</h1>
      <h3 class="who">{{site.data.quotes[0].who}}</h3>
    </div>
  </header>

  <div class="actions">
      <h3>{{ site.data.me.description }}</h3>
      <div class="buttons">
        <a href="/projects" class="buttonOnDark">Projects</a>
        <a href="/resume/pretty" class="buttonOnDark">Resume</a>
      </div>
  </div>

</div>



{% include script-animate-logo.html %}
{% include script-youtube-bg.html %}
{% include script-quote-displayer.html %}