<!-- syntax highlighting CSS -->
<!--<link rel="stylesheet" href="/css/syntax.css">-->

<!-- Custom CSS -->
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/nav.css">
<link rel="stylesheet" href="/css/icons.css">
<link rel="stylesheet" href="/css/syntax.css">
<link rel="stylesheet" href="/blog/blog.css">

<!--<link href='http://fonts.googleapis.com/css?family=Jura:400,600' rel='stylesheet' type='text/css'>-->
<link href='http://fonts.googleapis.com/css?family=Comfortaa:300,700' rel='stylesheet' type='text/css'>