<li class="project card {{ project.colorName }}">
  <a href="{{project.url}}">

    <figure>

      <div class="image at1x" style="background-image: url('/gfx/cards/{{ project.shortName }}.jpg')"></div>
      <div class="image at2x" style="background-image: url('/gfx/cards/{{ project.shortName }}@2x.jpg')"></div>

    </figure>

    <figcaption>
      <p>{{ project.title }}</p>
      <p class="muted subtitle" title="{{ project.summary }}">{{ project.summary }}</p>
    </figcaption>



  <!--<img class="shadow" src="{{ project.img }}" alt="{{ project.caption }}"/>-->

  </a>
</li>