<li class="project {% if project.isPrivate %} private {% endif %}">
  {{ project.content }}
  <img class="shadow" src="{{ project.img }}" alt="{{ project.caption }}"/>
  <div class="info" tabindex="{{ forloop.index }}">

    <section>
      {% if project.description %}{{ project.description | markdownify }}{% endif %}
      <br/>

    </section>

    <section>
      {% if project.technologies %}
        <h3>Technologies</h3>
        <ul>
          {% for item in project.technologies %}
            {% include li-item.html %}
          {% endfor %}
        </ul>
      {% endif %}
      {% if project.files %}
        <h3>Source Files</h3>
        <ul>
          {% for item in project.files %}
            {% include li-item.html %}
          {% endfor %}
        </ul>
      {% endif %}
      {% if project.live || project.repo %}
      <h3>Links</h3>
      <ul>
        {% if project.live %}<li><a href="{{project.live}}">live site</a></li>{% endif %}
        {% if project.repo %}<li><a href="{{project.repo}}">repo</a></li>{% endif %}
      </ul>
      {% endif %}
    </section>

  </div>
  <!--<a href="{{project.url}}">permalink</a>-->
</li>