{% comment %}
        Displays the site navigation.
        If we're on a page with a banner, mute the color of the nav so it doesn't fight with the banner image.
{% endcomment %}


<nav
    {% if page.banner %} class="muted" {% endif %}
    {% if page.color %}
      style="background-color:{{ page.color }}; box-shadow: inset 0 -40px rgba(0,0,0,.2)"
    {% endif %}
>

  <a href="/" class="logo" id="Logo">{{site.data.me.name}}<br/>{{site.data.me.alias}}</a>
  <ul>
    <!--<li><a href="/about">about</a></li>-->
    <li><a href="/blog">blog</a></li>
    <li><a href="/projects">projects</a></li>
    <!--<li><a href="/quotes">quotes</a></li>-->
    <!--<li><a href="/resume">resume</a></li>-->
    <li>&nbsp;</li>
    <!--<li class="hasIcon"><a href="{{ site.data.me.instagram }}"><i class="icon instagram"></i></a></li>-->
    <li class="hasIcon"><a href="{{ site.data.me.twitter }}"><i class="icon twitter"></i></a></li>
    <li class="hasIcon"><a href="{{ site.data.me.linkedIn }}"><i class="icon linkedIn"></i></a></li>
  </ul>
</nav>
