<nav>
  <a href="/" class="logo" id="Logo">{{site.data.me.alias}}<br/>{{site.data.me.name}}</a>
  <ul>
    <!--<li><a href="/about">About</a></li>-->
    <!--<li><a href="/blog">blog</a></li>-->
    <li><a href="/projects">Projects</a></li>
    <!--<li><a href="/quotes">Quotes</a></li>-->
    <!--<li><a href="/resume">Resume</a></li>-->
    <li>&nbsp;</li>
    <!--<li class="hasIcon"><a href="{{ site.data.me.instagram }}"><i class="icon instagram"></i></a></li>-->
    <li class="hasIcon"><a href="{{ site.data.me.twitter }}"><i class="icon twitter"></i></a></li>
    <li class="hasIcon"><a href="{{ site.data.me.linkedIn }}"><i class="icon linkedIn"></i></a></li>
  </ul>
</nav>