<script>
  (function(){
    'use strict';

	const asArray = sel =>
	  Array.from(document.querySelectorAll(sel));

    asArray('.content p').forEach(imageSetGroups);
    asArray('.content blockquote > p').forEach(heroLoneImages);

    // Given a p as a direct child of a blockquote, add a `hero` class if its only child
    function heroLoneImages (el) {
	  const parent = el.parentElement;
	  if (el.tagName === 'IMG' && parent.tagName === 'BLOCKQUOTE' && parent.children.length === 1) {
        el.className += ' hero';
        parent.className += ' unstyled';
      }

    }

    // given an element, add a `imageSet` class if all of it's children are images and there's more than 1
    function imageSetGroups (el) {
      if (el.children.length <= 1) { return }
      for (var i=0; i<el.children.length; i++) {
        if (el.children[i].tagName !== 'IMG') { return }
      }
      el.className += ' imageSet';
    }
  })();
</script>