<script>
  // Adapted from https://code.google.com/p/jquery-tubular
  (function(){

    var ratio = 16 / 9, // usually either 4/3 or 16/9 -- tweak as needed
        video = document.getElementById('Video');

    // Debounce a function by `ms` time
    function debounce(fn, ms){

    }

    function scale(){
      var w = window.innerWidth,
          h = window.innerHeight,
          pos = {};

      // Fill the screen, even if the video and screen aspect ratios are different
      if (w / ratio < h) {                 // video height < window height
        pos.width = Math.ceil(h * ratio);  // get new player width
        pos.height = h;
        pos.left = (w - pos.width) / 2;    // player width is greater, offset left; reset top
        pos.top = 0;
      } else {                             // video height > window height
        pos.width = w;
        pos.height = Math.ceil(w / ratio);
        pos.left = 0;
        pos.top = (h - pos.height) / 2;
      }

      // Assign calculated values
      video.style.width  = pos.width + 'px';
      video.style.height = pos.height + 'px';
      video.style.left   = pos.left + 'px';
      video.style.top    = pos.top + 'px';
    }

    // Bind event and initialize the function
    window.addEventListener('resize', function(evt){
      scale();
    });
    scale();

  })();
</script>