<ul id="GithubProjects"></ul>

<script>
  (function(){
    // Get data for all repos, and create a list item for each
    var hasPages = [],
            repos, r,
            username = 'SimplGy',
            container = document.getElementById('GithubProjects'),
            request = new XMLHttpRequest();

    request.open('GET', "https://api.github.com/users/"+ username +"/repos", true);
    request.onload = function() {
      if (request.status >= 200 && request.status < 400) {
        repos = JSON.parse(request.responseText);
        for (var i=0; i<repos.length; i++) {
          r = addRepoToDom(repos[i], container)
          if (r) {
            hasPages.push(r);
          }
        }
        console.log({ hasPages:hasPages });
      }
    };
    request.send();

    // Given a repo object and a dom node, create a list item and add it as a child of the node
    function addRepoToDom(repo, node) {
      if(!repo.has_pages) { return; }
      function giturl() { return username.toLowerCase() + '.github.io' }
      if(repo.name === giturl()) { return; }
      var li, a, url;
      li = document.createElement('li');
      a = document.createElement('a');
      a.innerText = repo.name;
      // Calculate the url or use the one specfied in the repo's settings
      if (repo.homepage) {
        url = repo.homepage;
      } else if (repo.name === giturl()) {
        url = 'http://' + giturl();
      } else {
        url = 'http://' + giturl() + '/' + repo.name;
      }
      a.setAttribute('href', url);
      a.setAttribute('title', repo.description);
      li.appendChild(a);
      node.appendChild(li);
      return repo;
    }
  })();
</script>
