---
id: resume
title: Resume
---

<!-- Make it look like a page, to reinforce the printability of it -->
<!-- Make it super printable -->
<!-- Started Developing: 2008 start w/ A Catered Affair -->
<!-- Dev Total: 2008, 2009, 2010, 2011, 2012, 2013  -->
<!-- Started Designing:  2006 start w/ Shi-Ling. Skip: GSI, TidePool, Coatue (1, .5) -->
<!-- Des Total: 2006, 2007, 2008, 2009, 2010, 2011, 2012  -->
<!-- Years / Skill -->
<!--  6 / Web Development -->
<!--  7 / Design -->
<!--  7 / HTML+CSS -->
<!--  4 / JS -->
<!--  2 / Backbone -->
<!--  2 / RequireJS -->
<!--  2 / SASS -->
<!--  2 / Coffeescript -->
<!--  1 / AngularJS -->
<!--  1 / Flash -->
<!--  2 / PHP -->
<!--  1 / Drupal -->
<!--  6 / Photoshop -->
<!--  5 / Illustrator -->
<!--  3 / IxN Wireframes (Balsamiq) -->
<!--  3 / Visual Design, Hi-Fi -->
<!--  3 / User Interviews -->

<!-- Font: Jura or  -->

<div class="page">
  <section class="me">
    <h1>
      <span class="colorGreen">{{ site.data.me.firstName }}</span><span class="colorBlue">{{ site.data.me.lastName }}</span>
    </h1>
    <!-- TODO: JS Insert the email address for some spam security and only show it when printing -->
    <a class="xprintOnly" href="mailto:{{ site.data.me.email }}?subject=Hi, Eric!">{{ site.data.me.email }}</a></h2>
    <span class="location">{{ site.data.me.location }}</span>
  </section>


          <ul>
            <li>Javascript Developer and Interaction Designer</li>
            <li>Proven ability to recruit and lead developer teams</li>
            <li>Full time maker</li>
            <li>6 years dev experience in web technologies including AngularJS, Backbone, RequireJS, SASS, jQuery, and Coffeescript</li>
            <li>7 years design and UX experience doing user interviews, wireframes, Photoshop, Illustrator</li>
            <li>Quick-learning, self-managing, commitment-keeping</li>
            <!--<li>Passion for new product development demonstrated by key roles in the creation of many new products</li>-->
          </ul>



  <h2>Education</h2>
  <ol class="education">
    {% for event in site.data.education %}
    <li title="{{event.description}}">
      {{ event.name }}
      <pre>{{ event.timing }}</pre>
    </li>
    {% endfor %}
  </ol>


  <h2>Work Experience</h2>
  <ol class="work">
    {% for event in site.data.work %}
      <li title="{{event.description}}">
        {{ event.name }}
        <pre>{{ event.timing }}</pre>
      </li>
    {% endfor %}
  </ol>

  <h2>Side Projects</h2>
  <ol class="sideProjects">
    {% for event in site.data.sideProjects %}
    <li title="{{event.description}}">
      {{ event.name }}
      <pre>{{ event.timing }}</pre>
    </li>
    {% endfor %}
  </ol>
</div>