@import '../css/__'

.resumePage

  // Designed to look like a fake page so it feels printable
  .page
    background: white
    border: 1px solid $black05
    box-shadow: 0 3px 4px $shade20
    width: 80%
    max-width: 1000px
    margin: 0 auto
    margin-top: 20px
    padding: 50px
    padding-left: 100px
    box-sizing: border-box

  .me
    border: 1px solid $black20
    border-left: none
    border-right: none

