article, .banner .content {
  max-width: 800px;
  margin: 0 auto;
}

.banner {
  position: relative;
  background-color: #4d4d4d;
  background-size: cover;
  background-position: center;
  padding: 30px 0 20px 0;
  min-height: 200px;
}

@media (max-width: 603px) {
  .banner {
    min-height: 0;
    padding: 10px 0;
  }
}

.banner h1 {
  margin: 0;
  margin-bottom: 10px;
  letter-spacing: .02em;
  word-spacing: 0.1em;
  line-height: 1.5;
  color: white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 -1px 1px rgba(0, 0, 0, 0.2), 1px 0 1px rgba(0, 0, 0, 0.2), -1px 0 1px rgba(0, 0, 0, 0.2), 0 2px 10px rgba(0, 0, 0, 0.4), 0 0 50px rgba(0, 0, 0, 0.7);
}

.banner .date {
  text-align: right;
  font-weight: normal;
  color: white;
  word-spacing: 0.2em;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 -1px 1px rgba(0, 0, 0, 0.2), 1px 0 1px rgba(0, 0, 0, 0.2), -1px 0 1px rgba(0, 0, 0, 0.2);
}

.banner .caption {
  position: absolute;
  bottom: 5px;
  right: 5px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 13px;
  background: rgba(0, 0, 0, 0.1);
  padding: 0 3px;
}

.blogArchivePage .content {
  max-width: 800px;
  margin: 0 auto;
}

.blogArchivePage .content h1, .blogArchivePage .content h2 {
  margin-left: 30px;
  margin-right: 30px;
}

.blogArchivePage .content li a {
  padding-left: 30px;
  padding-right: 30px;
}

@media (max-width: 603px) {
  .blogArchivePage .content h1, .blogArchivePage .content h2 {
    margin-left: 10px;
    margin-right: 10px;
  }
  .blogArchivePage .content li.post.summary a {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.post.summary {
  position: relative;
}

.post.summary .title {
  margin-bottom: 5px;
}

.post.summary p {
  max-width: 600px;
}

.post.summary a {
  display: block;
  color: inherit;
  padding-top: 50px;
  padding-bottom: 50px;
  border-top: 1px dotted rgba(0, 0, 0, 0.1);
}

@media (max-width: 603px) {
  .post.summary a {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.post.summary a:hover {
  text-decoration: none;
  background: rgba(75, 197, 118, 0.05);
}

.post.summary .date {
  float: right;
}

.post.summary .colorBar {
  position: absolute;
  left: 0;
  width: 5px;
  background-color: #e6e6e6;
  -webkit-transition: width ease 200ms;
  transition: width ease 200ms;
  background-position: center;
  background-size: cover;
  top: 50px;
  bottom: 50px;
}

@media (max-width: 603px) {
  .post.summary .colorBar {
    top: 30px;
    bottom: 30px;
  }
}

.post.summary a:hover .colorBar, .post.summary a:focus .colorBar {
  width: 20px;
}

@media (max-width: 603px) {
  .post.summary a:hover .colorBar, .post.summary a:focus .colorBar {
    width: 5px;
  }
}

.post.oneliner a {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
}

.post.oneliner a:hover {
  background: rgba(75, 197, 118, 0.05);
}

.post.oneliner .date {
  float: right;
}

.blogPost .deepLink {
  display: none;
  margin-left: 5px;
  padding: 0 10px 0 7px;
  color: #aaa;
  border: 1px solid transparent;
  border-radius: 3px;
  font-weight: normal;
}

.blogPost .deepLink:hover {
  background: rgba(0, 0, 0, 0.05);
  color: #36a75e;
  border: 1px solid rgba(0, 0, 0, 0.2);
  text-decoration: none;
}

.blogPost h2:hover .deepLink, .blogPost h2:focus .deepLink, .blogPost h3:hover .deepLink, .blogPost h3:focus .deepLink, .blogPost h4:hover .deepLink, .blogPost h4:focus .deepLink, .blogPost h5:hover .deepLink, .blogPost h5:focus .deepLink, .blogPost h6:hover .deepLink, .blogPost h6:focus .deepLink {
  display: inline;
}
/*# sourceMappingURL=blog.css.map */