.blogPostPage .content {
  font-size: 18px;
  line-height: 1.75;
  padding: 0 30px;
  max-width: 800px;
  margin: 0 auto; }
  .blogPostPage .content h2 small {
    font-size: 60%;
    line-height: 1.7; }
  .blogPostPage .content p, .blogPostPage .content .highlight, .blogPostPage .content blockquote {
    margin-bottom: 15.75px; }
  @media (max-width: 603px) {
    .blogPostPage .content {
      padding: 0 10px;
      font-size: 16px;
      line-height: 1.75; }
      .blogPostPage .content p, .blogPostPage .content .highlight, .blogPostPage .content blockquote {
        margin-bottom: 14px; } }
  .blogPostPage .content .highlight {
    overflow: auto;
    padding: 10px;
    margin-left: -10px;
    margin-right: -10px;
    border-radius: 5px;
    background: #fafafa;
    border: 1px solid #f2f2f2;
    border-top-color: #e6e6e6; }
    .blogPostPage .content .highlight code {
      padding: 0;
      background: none;
      border: none; }
  .blogPostPage .content .highlight {
    font-size: 85%; }
  .blogPostPage .content .gist-file .highlight {
    font-size: 100%; }
  .blogPostPage .content blockquote p {
    margin-bottom: 0; }
  .blogPostPage .content p > img {
    display: block;
    margin: 0 auto;
    width: 100%; }
  .blogPostPage .content ul, .blogPostPage .content li {
    list-style-type: disc;
    list-style-position: inside; }

.banner {
  position: relative;
  background-color: #4d4d4d;
  background-size: cover;
  background-position: center;
  padding: 30px 0 20px 0;
  min-height: 200px; }
  @media (max-width: 603px) {
    .banner {
      min-height: 0;
      padding: 10px 0; } }
  .banner h1 {
    margin: 0;
    margin-bottom: 10px;
    letter-spacing: 0.02em;
    word-spacing: 0.1em;
    line-height: 1.5;
    color: white;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 -1px 1px rgba(0, 0, 0, 0.2), 1px 0 1px rgba(0, 0, 0, 0.2), -1px 0 1px rgba(0, 0, 0, 0.2), 0 2px 10px rgba(0, 0, 0, 0.4), 0 0 50px rgba(0, 0, 0, 0.7); }
  .banner .date {
    text-align: right;
    font-weight: normal;
    color: white;
    word-spacing: 0.2em;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 -1px 1px rgba(0, 0, 0, 0.2), 1px 0 1px rgba(0, 0, 0, 0.2), -1px 0 1px rgba(0, 0, 0, 0.2); }
  .banner .caption {
    position: absolute;
    bottom: 5px;
    right: 5px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 13px;
    background: rgba(0, 0, 0, 0.1);
    padding: 0 3px; }

.blogArchivePage .content h1, .blogArchivePage .content h2 {
  margin-left: 30px;
  margin-right: 30px; }
.blogArchivePage .content li a {
  padding-left: 30px;
  padding-right: 30px; }
@media (max-width: 603px) {
  .blogArchivePage .content h1, .blogArchivePage .content h2 {
    margin-left: 10px;
    margin-right: 10px; }
  .blogArchivePage .content li.post.summary a {
    padding-left: 10px;
    padding-right: 10px; } }

.post.summary .title {
  margin-bottom: 5px;
  color: #2a9400; }
.post.summary p {
  max-width: 600px; }
.post.summary a {
  display: block;
  color: inherit;
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 1px dotted rgba(0, 0, 0, 0.1); }
.post.summary a:hover {
  text-decoration: none;
  background: rgba(56, 199, 0, 0.05); }
.post.summary .date {
  float: right; }

.post.oneliner a {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px; }
.post.oneliner a:hover {
  background: rgba(56, 199, 0, 0.05); }
.post.oneliner .date {
  float: right; }

.blogPostPage .deepLink {
  display: none;
  margin-left: 5px;
  padding: 0 10px 0 7px;
  color: #aaa;
  border: 1px solid transparent;
  border-radius: 3px;
  font-weight: normal; }
.blogPostPage .deepLink:hover {
  background: rgba(0, 0, 0, 0.05);
  color: #2a9400;
  border: 1px solid rgba(0, 0, 0, 0.2);
  text-decoration: none; }
.blogPostPage h2:hover .deepLink, .blogPostPage h2:focus .deepLink, .blogPostPage h3:hover .deepLink, .blogPostPage h3:focus .deepLink, .blogPostPage h4:hover .deepLink, .blogPostPage h4:focus .deepLink, .blogPostPage h5:hover .deepLink, .blogPostPage h5:focus .deepLink, .blogPostPage h6:hover .deepLink, .blogPostPage h6:focus .deepLink {
  display: inline; }

/*# sourceMappingURL=blog.css.map */
