<!DOCTYPE html>
<title>{{ page.title }} - Eric Miller, Simple Guy</title>
<meta name="viewport" content="width=device-width">

<!-- Custom CSS -->
<link rel="stylesheet" href="/css/all.css">

<!--<link href='http://fonts.googleapis.com/css?family=Jura:400,600' rel='stylesheet' type='text/css'>-->
<link href='http://fonts.googleapis.com/css?family=Comfortaa:300,700' rel='stylesheet' type='text/css'>

{% include analytics.html %}



{{ content }}



<!--
  page.id: {{ page.id }}
  page.title: {{ page.title }}
  page.categories: {{ page.categories | join: ", " }}
  page.layout: {{ page.layout }}
-->