---
id: blogPost
layout: boilerplate
---

<b class="navSpace"></b>

{% include post-banner.html %}

<div class="content">
  {% include blockquote-excerpt.html %}
  {% include iframe-demo.html %}

  {{ content }}

  <hr/>
  {% include twitter-plug.html %}

  {% if page.next and page.next.categories contains "blog" %}
    <p class="muted alignCenter">Next Post: <a rel="next" href="{{ page.next.url }}">{{ page.next.title }}</a></p>
  {% else if page.previous and page.previous.categories contains "blog" %}
    <p class="muted alignCenter">Previous Post: <a rel="prev" href="{{ page.previous.url }}">{{ page.previous.title }}</a></p>
  {% endif %}

  <hr/>
  {% include facebook-comments.html %}
</div>

{% include nav.html %}
{% include footer.html %}

{% include script-hero-rows.html %}
{% include script-anchorize-headings.html %}

