---
layout: boilerplate
_comment: |

  "Required" properties:
  * title -- the title used in the card on the list page and heading on this page
  * summary -- the description used in the card on the list page and heading on this page
  * mainImg -- the first image to show in the leading "hero" area

  "Optional" properties:
  * appStore -- include a marketing-page style link to the iTunes app store
  * animation -- optional. should match the mainImg in size (use a screen capture). When the animation loads it fades to replace mainImg
  * mainImgBgColor -- customize the background behind your mainImg for the hero area
  * invertedTitle -- show white text in the hero area because you've chosen a dark background
---
{% assign project = page %}


<body class="projectPage {% for c in page.classNames %}{{ c }} {% endfor %} {% if project.mainImgBgColor %}customBgColor{% endif %}">

  <div class="mainImgArea {% if project.invertedTitle %} invertedTitle{% endif %}"
       {% if project.mainImgBgColor %} style="background-color:{{ project.mainImgBgColor }};" {% endif %}
    >
    <div class="imageWrapper {% if project.useIphoneFrame %}iphoneFrame{% endif %}">
      <img class="mainImg" src="/projects/mainImg/{{ project.mainImg }}" alt="Main demo image for {{ project.title }}">
      {% if project.animation %}
        <img class="animation" src="/projects/animation/{{ project.animation }}" alt="Main demo animation for {{ project.title }}">
        <span class="muted loadingMsg">Animation is Loading...</span>
      {% endif %}
    </div>
    <h1>{{ project.title }}</h1>
    <h2>{{ project.summary }}</h2>

    {% if project.appStore %}
      <a href="{{ project.appStore }}" class="appStoreLink" title="Download `{{ project.title }}` on the App Store">
        <img src="/gfx/app-store-badge.svg" alt="Download on the App Store">
      </a>
    {% endif %}

  </div>

  <article class="content padder">

    {% include project-aside.html %}

    {{ content }}

    {% if project.appStore %}
      <hr/>
      <div class="alignCenter">
      <a href="{{ project.appStore }}" class="appStoreLink" title="Download `{{ project.title }}` on the App Store">
        <img src="/gfx/app-store-badge.svg" alt="Download on the App Store">
      </a>
      </div>
    {% endif %}

    <hr/>

    <div class="backToProjects">
      <a class="back" href="/projects"> &larr; All Projects</a>
      <ol>
        {% for p in site.categories.projects %}
          {% if p.isPrivate or p.id == page.id %} {% continue %} {% endif %}
          <li class="project lineItem {{ p.colorName }}"><a href="{{p.url}}">
            {{ p.title }}
          </a></li>
        {% endfor %}
      </ol>
    </div>

  </article>

  {% include nav.html %}
  {% include footer.html %}

  {% include script-on-animation-loaded.html %}
  {% include script-hero-rows.html %}

</body>