---
layout: boilerplate
---

<body class="songPage">

  <!-- empty space holder for site nav/header -->
  <b class="navSpace"></b>

  <article class="content">
    <p>
      <a href="/songs/">
        <small class="muted">
          &larr; All Songs
        </small>
      </a>
    </p>
    
    <!-- TODO: song visualization and playback -->
    <aside class="playback-controls"></aside>
    <output class="renderArea"></output>
    <br>
    <br>

    <!-- Song "editor" -->
    <div class="editableAreaWrapper">
      {{ content }}
    </div>

  </article>

  {% include nav.html %}
  {% include footer.html %}
  
  {% include script-abcjs-playback.html %}

</body>